<main class="main">
    <section>
        <div class="connect-us">
            <a href="mailto:motabargamkps.usa@gmail.com"><img src="../images/icon/email.png" alt=""
                    class="contact-icon">motabargamkps.usa@gmail.com</a>
        </div>
        <div class="connect-us">
            <a target="_blank"
                href="https://www.facebook.com/Mota-Bar-Gam-Kadva-Patidar-Samaj-USA-113943003596223/">
                <img src="../images/icon/facebook.png" alt="" class="contact-icon">
                Mota Bar Gam Kadva Patidar Samaj - USA
            </a>
        </div>
    </section>
    <section class="contact-person">
        {{#each admin}}
        <section class="admin">
            <div class="state">
                <b>{{State}}</b>
            </div>
            <div class="state-person">
                <section class="person">
                    <div class="name"><b>{{Name}}</b></div>
                    <div class="email">{{Email}}</div>
                    <div class="phone-number">{{Phone}}</div>
                </section>
            </div>
            </section>
        {{/each}}
    </section>
</main>