extends layout

block content
  main.main
    section.photo-gallery
      img.umiya-mata-photo(src='../images/umiya_mata.jpg' alt='Umita Mata photo')
    section.tile
      header.tile-header
        .welcome Welcome to&nbsp;
        .welcome The Mota Bar Gam&nbsp;
        .welcome Kadva Patidar Samaj, USA&nbsp;
      .tile-content This is a social non-profit group of families from Mota Bar Gam Kadva Patidar Samaj living in the United States. The purpose of this website is for the people of Samaj to be able to find and share information about Samaj families, stay connected and help each other.