<main class="main">
    <section class="photo-gallery">
        <img src="../images/umiya_mata.jpg" alt="" class="umiya-mata-photo">
    </section>
    <section class="tile">
        <header class="tile-header">
            <div class="welcome">Welcome to&nbsp;</div>
            <div class="welcome">The Mota Bar Gam&nbsp;</div>
            <div class="welcome">Kadva Patidar Samaj, USA</div>
        </header>
        <div class="tile-content">
            This is a social non-profit group of families from Mota Bar Gam Kadva Patidar Samaj
            living in the United States. The purpose of this website is for the people of Samaj
            to be able to find and share information about Samaj families, stay connected and
            help each other.
        </div>
    </section>
</main>