@import "variables";

.main {
    margin-top: 2vh;
}

.tile {
    margin: 3vh 0;
    padding: 0 5vw;

    .tile-header {
        text-align: center;
        
        .welcome {
            font-size: var(--extra-large-font);
            line-height: 1.5;
            color: #795548;
            font-weight: bold;
        }
    }

    .tile-content {
        padding-top: 2vh;
        text-align: justify;
        font-weight: 500;
        line-height: 2;
    }
}

.photo-gallery {
    text-align: center;

    .umiya-mata-photo {
        width: 90%;
    }
}