:root {
    --font-size: 4vw;
    --bg-color: #ffffff;
    --secondary-bg-color: #cfd8dc;
    --primary-font-color: #313b44;
    --secondary-font-color: #2962ff;
}

@media screen and (min-width: 1366px) {
    :root {
        --font-size: 1.5vw;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.15vw;
    font-size: var(--font-size);
    font-family: "Comfortaa", serif;
    color: var(--primary-font-color);
}



.top-header {

    .navigation {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #263238fb;

        a, a:visited {
            color: #78909c;
        }
        
        a:hover {
            color: #ffffff;
        }
        
        .closebtn {
            position: absolute;
            font-size: 12vw;
            top: 0;
            right: 3vw;
        }

        .nav-list {
            position: relative;
            top: 10vh;
            width: 100%;
            text-align: center;
            
            
            .nav-list-item {
                display: block;
                padding: 5vh 0;
                font-size: 6vw;
            }

            .vr-line-symbol {
                display: none;
            }
        }
    }

    .nav-bar-icon {
        cursor: pointer;
        float: right;
        font-size: 8vw;
        padding: 0 2vw;
    }
}

@media screen and (min-width: 1366px) {
    .top-header{
        width: 90vw;
        margin: auto;

        .navigation {
            width: 100%;
            height: fit-content;
            position: static;
            transition: 0s;

            .closebtn {
                display: none;
            }

            .nav-list {
                position: static;
                width: 100%;
                top: 0;
                display: flex;
                text-align: center;

                .nav-list-item {
                    font-size: 2vw;
                    flex: 1;
                    padding: 2vh 0;
                }

                .vr-line-symbol {
                    display: block;
                    color: #fff;
                    font-size: 2vw;
                    padding: 2vh 0;
                }
            }
        }

        .nav-bar-icon {
            display: none;
        }  
    }

    .hr-line {
        display: none;
    }
}


.main {
    margin-top: 2vh;
}

.tile {
    margin: 3vh 0;
    padding: 0 5vw;

    .tile-header {
        text-align: center;
        
        .welcome {
            font-size: 5vw;
            line-height: 1.5;
            color: #795548;
            font-weight: bold;
        }
    }

    .tile-content {
        padding-top: 2vh;
        text-align: justify;
        font-weight: 500;
        line-height: 2;
    }
}

@media screen and (min-width: 1366px){
    .tile {

        .tile-header {

            .welcome {
                font-size: 2vw;
            }
        }
    }
}


.photo-gallery {
    text-align: center;

    .umiya-mata-photo {
        width: 90%;
    }
}