:root {
    --font-size: 3vw;
    --bg-color: #ffffff;;
    --secondary-bg-color: #cfd8dc;
    --primary-font-color: #313b44;
    --secondary-font-color: #2962ff;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.15vw;
    font-size: var(--font-size);
    font-family: "Comfortaa", serif;
    color: var(--primary-font-color);
}

a {
    color: var(--secondary-font-color)
}

a:hover {
    color: var(--primary-font-color);
}

.main {
    margin-top: 2vh;
}

.top-header {

    .navigation {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #000000ee;

        .closebtn {
            position: absolute;
            font-size: 15vw;
            top: 0;
            right: 5vw;
        }

        .nav-list {
            position: relative;
            top: 10vh;
            width: 100%;
            text-align: center;

            .nav-list-item {
                font-size: 6vw;
                display: block;
                padding: 5vh 0;
            }
        }
    }

    .nav-bar-icon {
        cursor: pointer;
        float: right;
        font-size: 10vw;
        padding: 0 2vw;
    }
}

.tile {
    margin: 3vh 0;
    padding: 0 5vw;

    .tile-header {
        text-align: center;
        
        div {
            font-size: 4vw;
            line-height: 1.5;
            color: var(--secondary-font-color);
        }
        
    }

    .tile-content {
        padding-top: 2vh;
        text-align: justify;
        font-weight: 500;
        line-height: 2;
    }
}

.photo-gallery {
    text-align: center;

    .umiya-mata-photo {
        width: 90%;
    }
}