//screen sizes
$tablet-width: 300px;
$desktop-width: 1366px;

//color palette
$white: #ffffff;
$light-blue-grey: #eceff1;
$blue-grey: #607d8b;
$dark-blue-grey: #263238;
$black: #000000;
$blue: #2196f3;
$brown: #795548;

:root {
    //font size
    --extra-small-font: 2vw;
    --small-font: 2.5vw;
    --regular-font: 3vw;
    --large-font: 4.5vw;
    --extra-large-font: 8vw;
}

@media (min-width: #{$desktop-width}) {
    :root {
        //font-size
        --extra-small-font: 0.5vw;
        --small-font: 1vw;
        --regular-font: 1.5vw;
        --large-font: 2vw;
        --extra-large-font: 3vw;
    }
}