@import "variables";

.main {
    width: 80vw;
    margin: 5vh auto;
    line-height: 1.5;
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0 1vw 5vw #00000060;
    background-color: $light-blue-grey;

    .verification-info {
        margin: 2vh 0;
        text-align: justify;
        padding: 5vh 5vw 0 5vw;
    }
    
    .authentication-form {
        text-align: center;
        padding: 5vh 5vw;

        .form-input {
            border: none;
            margin: 1vh 0;
            padding: 0.5vh 2vw;
            text-align: center;
            border-radius: 1vw;
            font-size: var(--large-font);
        }

        .email, .phone {
            width: 80%;
        }

        .submit-button {
            background-color: $dark-blue-grey;
            color: $light-blue-grey;
        }
    }
}

@media (min-width: #{$desktop-width}) {
    .main {
        width: 40vw;
        margin: 10vh auto;
    }
}


