@import "variables";

.main {
    width: 90vw;
    margin: 3vh auto;
}

.connect-us {
    height: fit-content;
    margin: 2vh 0;
    
    .contact-icon {
        vertical-align: middle;
        margin: 0 3vw;
        width: 5%;
    }
}

.contact-person {

    .admin {

        .state {
            background-color: $blue-grey;
            text-align: center;
            margin-top: 3vh;
            padding: 1vh 0;
            border-radius: 1vw 1vw 0 0;
        }
        
        .state-person {
            border-radius: 0 0 1vw 1vw;
            padding: 1vh 3vw;
            background-color: $light-blue-grey;
            line-height: 2;
        }
    }
}

@media (min-width: #{$desktop-width}) {
    .contact-person {
        display: grid;
        grid-template-columns: 50% 50%;

        .admin {
            margin: auto 3vw;

            .state {
                border-radius: 1vh 1vh 0 0;
            }

            .state-person {
                border-radius: 0 0 1vh 1vh;
            }
        }
    }
}