@import "variables";

body {
    width: 95vw;
    margin: auto;
}

.main {
    margin-top: 2vh;
}

.connect-us {
    height: fit-content;
    margin: 2vh 0;
    
    .contact-icon {
        vertical-align: middle;
        margin: 0 3vw;
        width: 5%;
    }
}

.contact-person {

    .state {
        background-color: $blue-grey;
        text-align: center;
        margin-top: 3vh;
        padding: 1vh 0;
        border-radius: 1vh 1vh 0 0;
    }
    .state-person {
        border-radius: 0 0 1vh 1vh;
        display: flex;
        padding: 1vh 3vw;
        background-color: $light-blue-grey;

        .person {
            flex: 1;
            line-height: 2;
        }
    }
}