.alert {
  position: relative;
  text-align: left;
  padding: 1vh;
  width: 50%;
  border: solid;
  border-radius: 1vh;
  margin: 1vh auto;
  font-size: small;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.alert strong {
  font-weight: 900;
  text-transform: uppercase;
}

.alert__btn--close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding: 0 1vh;
  background: none;
  color: inherit;
  font-size: x-large;
  outline: none;
}

.alert__btn--close:active {
  font-size: large;
}

.alert--success {
  color: #4caf50;
  border-color: #4caf50;
  background-color: #4caf5055;
}

.alert--success strong::before {
  content: "\2714\00A0";
  font-size: large;
}

.alert--error {
  color: #f44336;
  border-color: #f44336;
  background-color: #f4433655;
}

.alert--error strong::before {
  content: "\2718\00A0";
  font-size: large;
}

.alert--warning {
  color: #ffc107;
  border-color: #ffc107;
  background-color: #ffeb3b55;
}

.alert--warning strong::before {
  content: "\26A0\00A0";
  font-size: large;
}

.alert--info {
  color: #2196f3;
  border-color: #2196f3;
  background-color: #2196f355;
}

.alert--info strong::before {
  content: "\2139\00A0";
  font-size: large;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  10% {
    -webkit-transform: translate(-1px, -2px);
            transform: translate(-1px, -2px);
  }
  20% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px);
  }
  30% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  40% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  50% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  60% {
    -webkit-transform: translate(-3px, 1px);
            transform: translate(-3px, 1px);
  }
  70% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  80% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  90% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  100% {
    -webkit-transform: translate(1px, -2px);
            transform: translate(1px, -2px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  10% {
    -webkit-transform: translate(-1px, -2px);
            transform: translate(-1px, -2px);
  }
  20% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px);
  }
  30% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  40% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  50% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  60% {
    -webkit-transform: translate(-3px, 1px);
            transform: translate(-3px, 1px);
  }
  70% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  80% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  90% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  100% {
    -webkit-transform: translate(1px, -2px);
            transform: translate(1px, -2px);
  }
}
/*# sourceMappingURL=flash.css.map */