@import "variables";

.main {
    width: 80vw;
    margin: 4vh auto;
}

.photo-gallery {
    text-align: center;
}

.tile {

    .tile-header {
        text-align: center;
        margin: 4vh auto;
        
        .welcome {
            font-size: var(--large-font);
            line-height: 1.5;
            color: #795548;
            font-weight: bold;
        }
    }

    .tile-content {
        text-align: justify;
        line-height: 2;
    }

    @media (min-width: #{$desktop-width}) {
        
        .tile-header {
            @include flexCenter();
        }
    }
}