:root {
  --extra-small-font: 2vw;
  --small-font: 2.5vw;
  --regular-font: 3vw;
  --large-font: 4.5vw;
  --extra-large-font: 8vw;
}

@media (min-width: 1366px) {
  :root {
    --extra-small-font: 0.8vw;
    --small-font: 1vw;
    --regular-font: 1.2vw;
    --large-font: 1.5vw;
    --extra-large-font: 3vw;
  }
}

@media (min-width: 1366px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-form {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  margin: 0 auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 0.5;
  background-color: #eceff1;
}

.list-form .form-content {
  padding: 0 2vw;
  font-size: var(--regular-font);
}

.list-form .form-content .form-input {
  border: none;
  width: 25vw;
  margin: 1vh 0;
  padding: 1vh 2vw;
  text-align: center;
  border-radius: 1vw;
  font-size: var(--regular-font);
}

@media (min-width: 1366px) {
  .list-form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: block;
    margin: 1vh 1vw;
    height: 80vh;
    text-align: center;
    font-size: var(--regular-font);
    position: -webkit-sticky;
    position: sticky;
    top: 9vh;
  }
  .list-form .form-content {
    padding: 1vh 0;
  }
  .list-form .form-content .form-input {
    width: 80%;
    border-radius: 0.5vh;
  }
  .list-form .list-by {
    margin: 2vh 0;
    background-color: #607d8b;
    color: #eceff1;
    border-radius: 0.5vh;
  }
}

.contact-person {
  display: block;
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 1366px) {
  .contact-person {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.person-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.person-container .person-tile {
  padding: 1vh 2vw;
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eceff1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-container .person-tile .person {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.person-container .person-tile .person .person-info {
  padding: 0.5vh 0;
}

.person-container .person-tile .view-family {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.person-container .person-tile .view-family {
  font-size: var(--regular-font);
  border: none;
  padding: 0.5vh 2vw;
  background-color: #263238;
  color: #eceff1;
  border-radius: 1vw;
}

@media (min-width: 1366px) {
  .person-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .person-container .person-tile .view-family {
    border-radius: 1vh;
  }
}

.family-container .family {
  width: 0;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
  margin: auto;
  color: #263238;
  background-color: #ffffff;
}

.family-container .family .family-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-bottom: solid;
  border-color: #eceff1;
  border-width: 0.5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.family-container .family .family-header .head-name {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  font-weight: bold;
}

.family-container .family .family-header .head-name .family-header-content {
  padding: 1vh 0;
}

.family-container .family .family-header .familyClosebtn {
  font-size: calc(var(--extra-large-font) + 4vw);
  right: 6vw;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.family-container .family .family-details {
  width: 80%;
  margin: auto;
}

.family-container .family .family-details .family-person {
  position: relative;
  top: 5vh;
  margin: 2vh 0;
  padding: 1vh 4vw;
  background-color: #eceff1;
}

.family-container .family .family-details .family-person .family-person-info {
  padding: 0.5vh 0;
}

@media (min-width: 1366px) {
  .family-container {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .family-container .family {
    top: 8vh;
    left: unset;
    right: 0;
  }
  .family-container .family .familyClosebtn {
    position: unset;
    font-size: var(--extra-larger-font);
  }
  .family-container .family .family-details {
    width: unset;
    margin: 0 5vw;
  }
}
/*# sourceMappingURL=member.css.map */