@import "variables";

@import "variables";

.main {
    display: flex;
    height: 80vh;
    align-items: center;
    text-align: center;

    .message {
        flex: 1;
        color: red;
        font-size: var(--extra-large-font);

        p {
            padding: 1vh 0;
        }
    }
}