@import "variables";

:root {
    font: {
        family: "Comfortaa", serif;
        size: var(--regular-font);
    }
    color: $dark-blue-grey;
    letter-spacing: 0.15vw;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.top-header {

    .navigation {
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        z-index: 1;
        position: fixed;
        transition: 0.5s;
        color: $blue-grey;
        overflow-x: hidden;
        background-color: #263238fb;

        a, a:visited {
            color: $blue-grey;
        }
        
        a:hover {
            color: $white;
        }

        .closebtn {
            position: absolute;
            font-size: calc(var(--extra-large-font) + 4vw);
            top: 0;
            right: 6vw;
        }

        .nav-list {
            position: relative;
            top: 10vh;
            width: 100%;
            text-align: center;
            font-size: var(--large-font);
            
            .nav-list-item {
                display: block;
                padding: 5vh 0;
            }

            .vr-line-symbol {
                display: none;
            }
        }
    }

    .nav-bar-icon {
        cursor: pointer;
        float: right;
        padding: 0 5vw;
        font-size: var(--extra-large-font);
    }
}

@media (min-width: #{$desktop-width}) {
    .top-header{
        width: 100vw;
        margin: auto;
        position: sticky;

        .navigation {
            width: 100%;
            height: fit-content;
            position: static;
            transition: 0s;

            .closebtn {
                display: none;
            }

            .nav-list {
                position: static;
                width: 100%;
                top: 0;
                display: flex;
                text-align: center;

                .nav-list-item {
                    flex: 1;
                    padding: 2vh 0;
                }

                .vr-line-symbol {
                    display: block;
                    padding: 2vh 0;
                }
            }
        }

        .nav-bar-icon {
            display: none;
        }  
    }

    .hr-line {
        display: none;
    }
}
